* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  color: white;
  background: #121f3d;
}

header {
  margin: 20px;
  text-align: center;
}

.application-tasks {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.principal-list-tasks {
  width: 600px;
  min-height: 500px;
  background-color: #d0d0d5;
  padding: 25px;
  margin: 10px;
  justify-content: center;
  border-radius: 26px;
}

.principal-list-tasks h2 {
  text-align: center;
  color: black;
  margin-bottom: 20px;
}